body
{
    font-family: 'Lato', sans-serif;
    font-size: x-large;

    margin: 0;

    background: url('../images/contact.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

main
{
    font-size: large;
    font-style: italic;

    width: 50%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;

    text-align: center;

    opacity: .95;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0 1px 5px 0 gray;
            box-shadow: 0 1px 5px 0 gray;
}

h1
{
    font-family: 'Cookie', cursive;
    font-size: 250%;

    width: 100%;

    text-align: center;

    color: #4c4c4c;
}

form{
    text-align: left; 
    line-height: 50px;
}

.text_input
{
    margin-left: 10px;
    padding: 5px;

    border: solid 1px LightGray;
    border-radius: 5px;
}


select
{
    margin-left: 10px;
}

textarea
{
    width: 100%;

    border: solid 1px LightGray;
    border-radius: 5px;
}

