@keyframes show_box
{
    from
    {
        opacity: 0;
    }
    to
    {

        opacity: 1;
    }
}

#shadowbox
{
    display: none;
    position: fixed;
    z-index: 4;

    width: 100%;
    height: 100%;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);

    -webkit-animation-name: show_box;
       -moz-animation-name: show_box;
            animation-name: show_box;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
            animation-duration: 1s;
}

td{
    text-align: center;
}
#shadowbox_img
{
    max-height: 600px;
    max-width: 700px;
    -webkit-box-shadow: 0 4px 5px 1px gray;
       -moz-box-shadow: 0 4px 5px 1px gray;
            box-shadow: 0 4px 5px 1px gray;

            transition: src 4s ease-in-out;
    -webkit-transition: src 4s ease-in-out;
    -moz-transition: src 4s ease-in-out;
}
#shadowbox_table{
    width: 100%; 
    height: 100%; 
    z-index: 6;
}
#img_td{
    width: 700px;
}
.arrow:hover{
    cursor: pointer;
    opacity: 0.8;
}
#close_box{
    position: absolute;
    right: 100px;
    top: 50px;
}
#close_box:hover{
    opacity: 0.8;
    cursor: pointer;
}