body{
	font-size: x-large;
	margin: 0px;
	background: url(../images/index_backgrounds/background01.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: 'Lato', sans-serif;
  	
  	transition: background-image 4s ease-in-out;
	-webkit-transition: background-image 4s ease-in-out;
	-moz-transition: background-image 4s ease-in-out;
}

@keyframes reviews_up{
	from {
		bottom: -20%;
		opacity: 0;
	}
	to {
		bottom: 0%;
		opacity: 0.9;
	}
}



#reviews{
	font-style: italic;
	padding: 1% 1% 1% 1%;
	position: absolute;
	font-size: large;
	bottom: 0px;
	width: 50%;
	left: 25%;
	background-color: white;
	opacity: 0.9;
	text-align: justify;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	-webkit-box-shadow: 0px -1px 2px 0px gray;
	-moz-box-shadow: 0px -1px 2px 0px gray;
	box-shadow: 0px -1px 2px 0px gray;

	animation-name: reviews_up;
	-webkit-animation-name: reviews_up;
	-moz-animation-name: reviews_up;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-timing-function: ease-out;

	transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
}

#review_author{
	float: right;
	font-weight: bold;
}

td{
	padding-left: 5px;
}
