body
{
    font-family: 'Lato', sans-serif;
    font-size: x-large;

    height: 100%;
    margin: 0;
}

main
{
    position: absolute;

    overflow-x: hidden;
    overflow-y: auto;

    width: 75%;
    height: 100%;
    margin-top: 0;
    margin-left: 25%;

    -webkit-box-shadow: -1px 0 5px 0 LightGrey;
            box-shadow: -1px 0 5px 0 LightGrey;

    perspective: 10px;
}
#banner
{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 23%;

    transform: translateY(-125px) translateZ(-5px) scale(1.5);

    background-image: url('../images/banner_weddings.jpg');
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}
h1
{
    font-family: 'Cookie', cursive;
    font-size: 250%;

    width: 100%;

    text-align: center;

    color: #4c4c4c;
}
#content
{
    font-size: large;
    font-style: italic;

    position: relative;
    z-index: 3;
    top: 23%;

    padding-top: 1px;
    padding-right: 4%;
    padding-left: 4%;

    transform: translateZ(0px);
    text-align: justify;

    background-color: white;
    -webkit-box-shadow: 0 -1px 3px 0 LightGrey;
            box-shadow: 0 -1px 3px 0 LightGrey;
}
footer
{
    position: static;
}
iframe
{
    position: static;

    overflow: hidden;

    width: 100%;
    height: 100%;
    min-height: 720px;
    margin-top: 2%;

    border: none;
}

@media screen and (max-width: 800px)
{
    #banner
    {
        width: 100%;
    }
    main
    {
        width: 100%;
        margin-left: 0;
    }
}
