body
{
    font-family: 'Lato', sans-serif;
    font-size: x-large;

    height: 100%;
    margin: 0;
}

#submenu
{
    font-style: italic;

    position: fixed;
    z-index: 1;

    width: 25%;
    min-width: 200px;
    height: 100%;
    padding-top: 60px;

    text-align: center;

    background-image: url('../images/cloth.jpg');
}

.submenu_item
{
    width: 100%;
    margin-bottom: -3%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.submenu_item > a
{
    text-decoration: none;

    color: #4c4c4c;
}

.submenu_item > a:hover
{
    color: #7f7f7f;
}

#selected_item
{
    opacity: .8;
    background-color: white;
}
main
{
    position: absolute;

    overflow-x: hidden;
    overflow-y: auto;

    width: 75%;
    height: 100%;
    margin-top: 0;
    margin-left: 25%;

    -webkit-box-shadow: -1px 0 5px 0 LightGrey;
            box-shadow: -1px 0 5px 0 LightGrey;

    perspective: 10px;
}
#banner
{
    position: absolute;
    z-index: 2;
    top: 0;

    width: 100%;
    height: 23%;

    transform: translateY(-125px) translateZ(-5px) scale(1.5);

    background-image: url('../images/banner_weddings.jpg');
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}
h1
{
    font-family: 'Cookie', cursive;
    font-size: 250%;

    width: 100%;

    text-align: center;

    color: #4c4c4c;
}
#content
{
    font-size: large;
    font-style: italic;

    position: relative;
    z-index: 3;
    top: 23%;

    padding-top: 1px;
    padding-right: 4%;
    padding-left: 4%;

    transform: translateZ(0px);
    text-align: justify;

    background-color: white;
    -webkit-box-shadow: 0 -1px 3px 0 LightGrey;
            box-shadow: 0 -1px 3px 0 LightGrey;
}
footer
{
    position: static;
}
iframe
{
    position: static;

    overflow: hidden;

    width: 100%;
    height: 100%;
    min-height: 720px;
    margin-top: 2%;

    border: none;
}

#shadowbox
{
    display: none;
    position: fixed;
    z-index: 4;
    

}

#shadowbox_back{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

#shadowbox_img
{
    position: absolute;

    display: block;

    margin: auto;
}

@media screen and (max-width: 935px)
{
    #content
    {
        //height: 180%;
    }
}

@media screen and (max-width: 800px)
{
    #submenu
    {
        display: none;
    }
    #banner
    {
        width: 100%;
    }
    main
    {
        width: 100%;
        margin-left: 0;
    }
}
